
body {
  width: 25em;
  font-family: "Open Sans Light", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
}


.title {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

label {
  float: right;
}

input {
  margin: 0.5em;
  width: 200px;
  height: 2.5em;
}
