
html, body {
  height: 100%;
  width: 100%;
  margin: 1em 0 0 0;
  box-sizing: border-box;
}

body {
  font: caption;
  background-color: #F4F7F8;
}

p {
  margin: 2em;
}

#content {
  width: 80%;
  height: 80%;
  margin: 0 2em;

  background-color: white;
}
